 /* VARIABLES */

    /* Palette */
  
    $primary: #ff7ebc;
    $secondary: #ffddec;
    $light: #fdfdfd;
    $accent: #ff00aa;
    $basic: #000000;
  
    /* Font Sizes */
  
    $text-xxl: 4.8em;
    $text-xl: 3.6em;
    $text-lg: 3em;
    $text-md: 2.2em;
    $text-sm: 1.7em;
    $text-xs: 1.2em;
    $text-xxs: 1em;
  
    /* Spacings */
  
    $sp-sm:1rem;
  