/* CONTACTO */

.container__contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .contacto__sucursales1 {
  width: 500px;

    .contacto__titulo {
    height: 60px;
    color: $primary;
    font-family: 'Arima Madurai', cursive;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    margin-top: 80px;
    margin-bottom: 50px;

      h1 {
        font-size: $text-lg;
      }
    }

    .sucursales__contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
    width: 80%;
    margin: 30px 0;

      .sucursales__items {
      display: flex;
      flex-direction: row;
      width: 80%;
      margin-bottom: 15px;

        .sucursales__logo {
        width: 34px;
        margin-right: 20px;
        opacity: .4;
        display: grid;
        align-items: center;
        }

        .sucursales__tittle {
        font-family: 'Arima Madurai', cursive;
        color: $accent;
        font-size: $text-xs;
        line-height: 20px;
        margin: auto 0;
        }
    
        .sucursales__text {
        font-size: $text-xs;
        line-height: 20px;
        margin: auto 0;
        }
      }
    }
  }

  .contacto__sucursales2 {
  width: 600px;

    .contacto__titulo {
    height: 60px;
    color: $primary;
    font-family: 'Arima Madurai', cursive;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    margin-top: 80px;
    margin-bottom: 50px;

      h1 {
      font-size: $text-lg;
      }
    }

    .formulario__contactanos {
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

      .formulario__contactanos2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 570px;

        ul {
          padding-left: 0;
        }

        li {
        display: flex;
        flex-direction: column;

          .formulario__items {
          font-family: 'Nunito', sans-serif;
          font-size: $text-xs;
          margin-bottom: 10px;
          }

          .formulario__input {
          height: 36px;
          width: 250px;
          opacity: 0.6;
          border:1.7px solid $secondary;
          border-radius: 18px;
          outline: none;
          margin-bottom: 50px;
          padding: 0 8px;
          } 

          .formulario__comentario {
          height: 200px;
          width: 570px;
          opacity: .9;
          border:1.7px solid $secondary;
          border-radius: 18px;
          outline: none;
          margin-bottom: 25px;
          padding: 8px 8px;
          }
        }
      }
    }
  }
}

hr {
height: 0.5px;
background-color: $accent;
width: 310px;
margin-left: 10px;
border: none;
}

.button__contact {
text-align: center;
margin: 20px;

  .button_enviar {
  margin: 0 auto;
  width: 100px;
  height: 30px;
  background-color: $accent;
  border-radius: 20px;
  text-decoration: none;
  color: $light;
  font-family: 'Nunito', sans-serif;
  font-size: $text-sm;
  font-weight: bold;
  text-align: center;
  border: none;
  }
}




/* MEDIAS */

@media screen and (max-width: 1200px) {

  .container__contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    .contacto__sucursales1 {
    width: 100%;

      .contacto__titulo {
      justify-content: space-around;
      margin-top: 50px;
      margin-bottom: 20px;
      }
      
      .sucursales__contacto {
      align-items: center;
      }
    }

    .contacto__sucursales2 {
    width: 100%;
      
      .contacto__titulo {
      justify-content: space-around;
      margin-top: 20px;
      margin-bottom: 40px;
      }

      .formulario__contactanos {
      width: 100%;
      align-items: center;
      }
    }
  }

  .sucursales__column {
  display: flex;
  flex-direction: row;
  }

  hr {
  display: none;
  }
}

@media screen and (max-width: 768px) { 

  .container__contacto {

    .contacto__sucursales1 {

      .sucursales__column {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      }

      .sucursales__contacto {
        margin: 10px 0;
      }
    }
  }

  .container__contacto {

    .contacto__sucursales2 {

      .formulario__contactanos { 

        .formulario__contactanos2 {

        width: 100%;
        align-items: center;
        flex-direction: column;

          li {

            .formulario__comentario {
              width: 250px;
              height: 350px;
            }
          }
        }
      }
    }
  }
}
  
@media screen and (max-width: 576px) { 

  .container__shop {
  max-width: 1200px;
  margin: 0 20px;
  }

  .container__contacto {
    .contacto__sucursales1 {
      .sucursales__contacto {
        .sucursales__items {
          .sucursales__logo {
          width: 24px;
          }
        }
      }
    }
  }

  .container__contacto {  
    .contacto__sucursales2 { 
      .formulario__contactanos { 
        .formulario__contactanos2 li { 
          .formulario__input { 
          margin-bottom: 30px;
          }
        }
      }  
    } 
  }  
}

